/* basic reset styles */
body {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

/* css project */

.slide-wrapper {
  overflow: hidden;
  width: 100%;
}

.slide {
  display: flex;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
}
